<div class="container pb-5">
  <div class="row m-4">
    <h3><i class="fas fa-user"></i>&nbsp;<%=@end_user.nickname %>&nbsp;さんのフォロワー</h3>
  </div>
  <div class="row">
    <%= render 'public/end_users/user_list', end_users: @followers %>
  </div>
</div>