<div class="container">
  <div class="row m-4">
    <h2>＃タグが&nbsp;"<%=@tag.name%>"&nbsp;のユーザー一覧</h2>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <% @tag_list.each do |list|%>
        <% unless list.end_users.count == 0 %>
          <%=link_to "#{ "#" + list.name}", search_personal_tag_end_user_path(list) %>
          <span class="mr-2"><%="(#{list.end_users.count})" %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-12 mt-2">
      <div class="card">
        <%= render 'public/end_users/user_list', end_users: @end_users %>
      </div>
    </div>
  </div>
</div>