<%= form_with url: search_path, method: :get do |f| %>
  <div class="input-group">
    <%= f.select :model, options_for_select({"コミュニティ名"=>"community", "タグ"=>"community_tag"}), {}, {class:"form-control"} %>
    <%= f.text_field :content, placeholder:"キーワードを入力", class:"form-control", style:"width: 25%" %>
    <span class="input-group-btn input-group-append">
      <%= button_tag(type: "submit", class: "btn btn-warning") do %>
        <span class="text-light"><i class="fas fa-search"></i></span>
      <% end %>
    </span>
  </div>
<% end %>