<div class="container py-5">
  <div class="row justify-content-center text-center">
    <h2 class="col-11 mt-4">Circleの利用方法</h2>
    <p class="col-11 mt-3">使い方はカンタン。コミュニティ参加までのステップをご紹介します。</p>
  </div>
  <div class="row bg-white o-rounded mt-3 p-5">
    <h5 class="col-12 text-warning my-2">Step 1</h5>
    <h3 class="col-12 my-2">「コミュニティをさがす」から興味のあるコミュニティを見つける！</h3>
    <p class="col-12 my-2">探す方法は、①新着一覧、②キーワード検索、③タグ検索があります。気になるコミュニティを見つけたら「詳細をチェック」をクリック。</p>
    <div class="col-12 my-3">
      <%= image_tag asset_path("how_to_use1.png"), class:"img-fluid mx-auto p-3" %>
    </div>
    <h5 class="col-12 text-warning my-2">Step 2</h5>
    <h3 class="col-12 my-2">コミュニティ詳細を確認して、参加する！</h3>
    <p class="col-12 my-2">
      詳細ページの「参加する」でコミュニティに参加できます。あとはコミュニティ内のトピックごとにメンバーとのやり取りを始めましょう！<br>
      <small>※コミュニティによっては参加制限があるので、参加条件を確認してください</small>
    </p>
    <div class="col-12 my-3">
      <%= image_tag asset_path("how_to_use2.png"), class:"img-fluid mx-auto p-3" %>
    </div>
  </div>
  <div class="row o-rounded mt-3 p-5">
    <h5 class="col-12 text-info my-2">Point1. </h5>
    <h4 class="col-12 bg-white my-2">プロフィールとマイタグを設定する！</h4>
    <p class="col-12 my-2">
      コミュニティだけではなく、他の利用ユーザーも検索できます。相手のページを訪れて、プロフィールの「自己紹介」を見てどのような方か知ることが、コミュニケーションのきっかけになることがあります。
      そのため、まずはプロフィールを書いたり、マイタグを設定したり、更新しておくことをお勧めします！
    </p>
    <h5 class="col-12 text-info my-2">Point2. </h5>
    <h4 class="col-12 bg-white my-2">コミュニティを作る!</h4>
    <p class="col-12 my-2">
      気になるコミュニティがないときは、自分でコミュニティを作ることもできます!　コミュニティを探すページの［コミュニティ新規作成］から作成できます。<br>
      <small>※コミュニティ作成前には、類似コミュニティがないか事前に検索して確認してください。</small>
    </p>
    <h5 class="col-12 text-info my-2">Point3. </h5>
    <h4 class="col-12 bg-white my-2">コミュニティ参加の制限をかける!</h4>
    <div class="col-12 my-2">
      <p>作成者は新規作成時に参加条件を設定することができます。設定できる条件は以下の４項目です。</p>
      <ul class="ml-4">
        <li>参加上限数</li>
        <li>性別</li>
        <li>年齢</li>
        <li>主な活動エリア</li>
      </ul>
      <p>作成するコミュニティに応じて、必要な場合は参加条件を設定しましょう！（作成後も編集画面から変更可能です）</p>
    </div>
    <h5 class="col-12 text-info my-2">Point4. </h5>
    <h4 class="col-12 bg-white my-2">コミュニティへ招待する!</h4>
    <p class="col-12 my-2">
      作成者はフォローユーザーからコミュニティに招待することが可能です。
      コミュニティ詳細ページ内の［招待］機能を利用すれば、あなたのフォローユーザーにお知らせが届きます。
      共通の趣味や気になる人をフォローし、あなたのコミュニティのメンバーになってもらいましょう。
    </p>
  </div>
</div>