<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-end">
      <div class="d-none d-md-block col-12 text-right mb-5">
        <p class="h2">あなたとだれかを繋ぐ場所</p>
        <p class="h2">さぁ、始めてみよう！</p>
      </div>
      <div class="d-none d-md-block col-lg-4 col-md-5 border rounded-lg bg-white align-self-center mr-3 p-4">
        <%= render 'public/sessions/login_form', end_user: @end_user %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-around">
    <div class="d-block d-md-none col-12 text-center mb-3">
      <p class="h2">あなたとだれかを繋ぐ場所</p>
      <p class="h2">さぁ、始めてみよう！</p>
    </div>
    <div class="d-block d-md-none col-9 border rounded-lg bg-white align-self-center mx-2 p-4">
      <%= render 'public/sessions/login_form', end_user: @end_user %>
    </div>
  </div>
  <div class="container my-4">
    <h4>新着コミュニティ</h4>
    <div class="row flex-nowrap overflow-auto">
      <%= render 'public/communities/community_list_top', communities: @new_communities %>
    </div>
  </div>
</div>

<div class="container-field bg-white ">
  <div class="container py-4">
    <h4>コミュニティカテゴリー</h4>
    <div class="text-center">
      <span class="h1"><i class="fas fa-futbol"></i></span><br>
      <p>スポーツ</p>
    </div>

    ゲーム<i class="fas fa-gamepad"></i>
    ホビー&レジャー<i class="fas fa-suitcase-rolling"></i>
    仕事&勉強<i class="fas fa-building"></i>
    エンターテインメント<i class="fas fa-music"></i>
    フード<i class="fas fa-utensils"></i>
    動物<i class="fas fa-paw"></i>
    テクノロジー<i class="fas fa-laptop"></i>


  </div>
</div>



<div class="container-field py-3">

</div>