<% tag_list.each do |list|%>
  <% unless list.end_users.count == 0 %>
  <div class="d-inline-block border rounded-pill bg-white mb-2 py-1 px-3">
    <span class="text-secondary"><%=link_to "#{ "#" + list.name}", personal_tag_path(list), class:"text-secondary" %><%="(#{list.end_users.count})"%></span>
  </div>
  <% end %>
<% end %>