<div class="container py-5">
  <div class="row m-4">
    <h3><i class="fas fa-object-group"></i>「<%= @community.name %>」の参加メンバー</h3>
  </div>
    <div>
      <%= render 'public/communities/community_member_list_type', members: @members, community: @community %>
    </div>
</div>