<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">カテゴリーリスト</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <% @category_list.each do |category| %>
          <li class="h5 py-2"><%= link_to "#{category.name} (#{category.communities.count})", category_path(category) %></li>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to '閉じる', communities_path %>
      </div>
    </div>
  </div>
</div>