<div class="container py-5">
  <div class="row justify-content-between m-4">
    <h3><i class="fas fa-list"></i>&nbsp;トピック一覧</h3>
    <h4 class="mt-3">
      <%= link_to new_community_topic_path, class:"btn btn-primary" do  %>
        <span class="h5"><i class="fas fa-plus"></i>&nbsp;トピック新規投稿</span>
      <% end %>
    </h4>
  </div>
  <div class="row">
    <%= render 'public/topics/topic_list', topics: @topics %>
  </div>
  <%= paginate @topics %>
</div>