<div class="container py-5">
  <div class="row m-4">
    <h3><i class="fas fa-list"></i>&nbsp;トピック一覧</h3>
  </div>
  <div class="mt-3">
    <%= render 'public/communities/community_member', community: @community %>
  </div>
  <div class="row mx-1">
    <%= render 'public/topics/topic_list', topics: @topics %>
  </div>
  <%= paginate @topics %>
</div>

<div>
  <%= link_to new_community_topic_path, class:"btn btn-primary fixed-bottom mb-1" do %>
    <span><i class="fas fa-plus"></i>&nbsp;トピック新規投稿</span>
  <% end %>
</div>