<% tag_list.each do |list|%>
  <% unless list.communities.count == 0 %>
    <div class="d-inline-block border rounded-pill bg-white mb-2 py-1 pl-3 ">
      <%= link_to "#{ "#" + list.name}", tag_path(list), class:"text-secondary" %><span class="mx-2"><%= "(#{list.communities.count})" %></span>
    </div>
  <% end %>
<% end %>