<% @tag_list.each do |list|%>
  <% unless list.communitys.count == 0 %>
    <%=link_to "#{ "#" + list.name}", tag_path(list) %>
    <span class="mr-2"><%="(#{list.communitys.count})" %></span>
  <% end %>
<% end %>