<div class="container">
  <div class="row m-4">
    <table class="table">
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.visitor.nickname %>さん　からコミュニティへの招待が届きました!!</td>
          <td><%= notification.community.name %></td>
          <td>
            <% if notification.community.already_joined?(current_end_user) %>
              <%= 'すでに参加済みです' %>
            <% else %>
              <%= link_to '参加する', community_community_users_path(notification.community.id), method: :post, class: "btn btn-success", style:"width: 80%" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>