<div class="container py-5">
  <div class="row justify-content-end">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <%= render 'admin/searches/form' %>
    </div>
  </div>
  <div class="row m-4">
    <h3>コメント一覧</h3>
  </div>
  <div class="table-responsive-xl">
    <table class="table text-nowrap">
      <thead class="thead-light">
        <th>CommentID</th>
        <th>コメント</th>
        <th>投稿者</th>
        <th>投稿日</th>
        <th>表示</th>
        <th></th>
      </thead>
      <tbody>
        <%= render 'admin/topic_comments/list', topic_comments: @topic_comments %>
      </tbody>
    </table>
  </div>
  <%= paginate @topic_comments %>
</div>
