<% flash.each do |message_type, message| %>
  <% if message_type == "alert" %>
    <div class="alert alert-danger text-center"><%= message %></div>
  <% elsif message_type == "notice" %>
    <div class="alert alert-success text-center"><%= message %></div>
  <% end %>
<% end %>